<div class="relative bg-[url(../images/restaurent/restaurent-banner.jpg)] bg-cover bg-center bg-no-repeat px-4 pt-32 pb-64 md:py-64">
    <span class="absolute inset-0 bg-black/80"></span>
    <img
            src="cdn/shop/t/2/assets/banner-dish-1.png"
            alt=""
            class="absolute top-24 hidden w-40 ltr:left-0 rtl:right-0 rtl:rotate-y-180 md:block xl:w-80"
    />
    <img
            src="cdn/shop/t/2/assets/banner-dish-2.png"
            alt=""
            class="absolute bottom-0 hidden w-40 right-0 rtl:left-0 rtl:rotate-y-180 md:block xl:w-80"
    />
    <div class="relative mx-auto max-w-[572px] text-center text-white">
        <h2 class="text-4xl font-black uppercase md:text-6xl md:leading-[75px]">
            <span class="block bg-gradient-to-r from-secondary to-primary bg-clip-text text-transparent">Healthy food</span>
            <span>for busy people</span>
        </h2>
        <p class="mx-auto py-6 text-xl font-semibold xl:w-3/4">
            Imagine devouring delicious, healthy meals daily without so much as lifting a pot.
        </p>
        <a href="javascript:" class="btn text-white">How It Works</a>
    </div>
</div>
