<section class="py-20 md:py-28">
    <div class="container">
        <div class="heading text-center">
            <h6>Plans</h6>
            <h4 class="mb-4 uppercase">Chef meal <span class="text-secondary">plans</span></h4>
            <p class="mx-auto text-lg font-medium lg:w-1/2">
                Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
            </p>
        </div>
        <div class="grid gap-x-4 gap-y-8 text-center font-semibold sm:grid-cols-2 lg:grid-cols-3">
            <div class="relative rounded-xl bg-white transition duration-500 hover:shadow-[0_0_60px_rgba(0,0,0,0.15)] dark:bg-gray-dark">
                <span class="absolute top-4 bg-primary py-1 px-2 text-sm text-white ltr:right-4 rtl:left-4">12 meals</span>
                <div class="h-48 overflow-hidden rounded-t-xl">
                    <img src="cdn/shop/t/2/assets/plan-1.png" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="space-y-3 p-5">
                    <div class="flex items-center justify-center gap-3">
                        <h2 class="text-2xl font-extrabold text-secondary">$ 99.00 USD</h2>
                        <span>per week</span>
                    </div>
                    <h2 class="text-2xl font-extrabold text-black line-clamp-1 dark:text-white">Lean & Clean Dinner</h2>
                    <p class="line-clamp-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
                    <a href="javascript:" class="btn !mt-6 rounded-md text-white">CHOOSE PLAN</a>
                </div>
            </div>
            <div class="relative rounded-xl bg-white transition duration-500 hover:shadow-[0_0_60px_rgba(0,0,0,0.15)] dark:bg-gray-dark">
                <span class="absolute top-4 bg-primary py-1 px-2 text-sm text-white ltr:right-4 rtl:left-4">7 meals</span>
                <div class="h-48 overflow-hidden rounded-t-xl">
                    <img src="cdn/shop/t/2/assets/plan-2.png" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="space-y-3 p-5">
                    <div class="flex items-center justify-center gap-3">
                        <h2 class="text-2xl font-extrabold text-secondary">$ 79.00 USD</h2>
                        <span>per week</span>
                    </div>
                    <h2 class="text-2xl font-extrabold text-black line-clamp-1 dark:text-white">Balanced Living</h2>
                    <p class="line-clamp-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
                    <a href="javascript:" class="btn !mt-6 rounded-md bg-secondary text-white hover:bg-primary">CHOOSE PLAN</a>
                </div>
            </div>
            <div class="relative rounded-xl bg-white transition duration-500 hover:shadow-[0_0_60px_rgba(0,0,0,0.15)] dark:bg-gray-dark">
                <span class="absolute top-4 bg-primary py-1 px-2 text-sm text-white ltr:right-4 rtl:left-4">4 meals</span>
                <div class="h-48 overflow-hidden rounded-t-xl">
                    <img src="cdn/shop/t/2/assets/plan-3.png" alt="" class="h-full w-full object-cover" />
                </div>
                <div class="space-y-3 p-5">
                    <div class="flex items-center justify-center gap-3">
                        <h2 class="text-2xl font-extrabold text-secondary">$ 49.00 USD</h2>
                        <span>per week</span>
                    </div>
                    <h2 class="text-2xl font-extrabold text-black line-clamp-1 dark:text-white">Classic Dinner</h2>
                    <p class="line-clamp-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet.</p>
                    <a href="javascript:" class="btn !mt-6 rounded-md bg-gray text-white">CHOOSE PLAN</a>
                </div>
            </div>
        </div>
    </div>
</section>