<section class="relative bg-white pt-20 pb-14 dark:bg-gray-dark md:py-24">
    <img
            src="cdn/shop/t/2/assets/waiter.png"
            alt=""
            class="absolute -top-[220px] z-[1] w-48 left-[20%] right-[20%]"
    />
    <img
            src="cdn/shop/t/2/assets/vector-line.svg"
            alt=""
            class="absolute inset-x-0 -top-9 block h-9 w-full object-cover object-top dark:hidden"
    />
    <img
            src="cdn/shop/t/2/assets/vector-line.svg"
            alt=""
            class="absolute inset-x-0 -bottom-9 block h-9 w-full rotate-180 object-cover object-top dark:hidden"
    />
    <img
            src="cdn/shop/t/2/assets/vector-line-dark.svg"
            alt=""
            class="absolute inset-x-0 -top-9 hidden h-9 w-full object-cover object-top dark:block"
    />
    <img
            src="cdn/shop/t/2/assets/vector-line-dark.svg"
            alt=""
            class="absolute inset-x-0 -bottom-9 hidden h-9 w-full rotate-180 object-cover object-top dark:block"
    />
    <div class="container">
        <div class="grid gap-10 text-center font-semibold sm:grid-cols-2 lg:grid-cols-3 xl:gap-16">
            <div class="group space-y-5">
                <div class="relative top-0 transition-all duration-500 group-hover:-top-5">
                    <svg width="95" height="91" viewBox="0 0 95 91" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-auto">
                        <path
                                opacity="0.2"
                                d="M31.5185 87.0065C7.82954 75.8675 -6.70646 53.8285 4.33954 30.1415C15.3855 6.45452 54.3145 -7.12147 78.0735 3.86653C101.833 14.8545 95.7475 31.9105 84.5615 55.8995C73.3755 79.8885 55.2075 98.1455 31.5185 87.0065Z"
                                fill="#B476E5"
                        />
                    </svg>
                    <img
                            src="cdn/shop/t/2/assets/Book-icon.svg"
                            alt=""
                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
                    />
                </div>
                <h2 class="text-2xl font-bold leading-tight text-black line-clamp-1 dark:text-white md:text-[32px]">Choose your meals</h2>
                <p class="line-clamp-3">Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
            </div>
            <div class="group space-y-5">
                <div class="relative top-0 transition-all duration-500 group-hover:-top-5">
                    <svg width="95" height="91" viewBox="0 0 95 91" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-auto">
                        <path
                                opacity="0.2"
                                d="M31.5185 87.0065C7.82954 75.8675 -6.70646 53.8285 4.33954 30.1415C15.3855 6.45452 54.3145 -7.12147 78.0735 3.86653C101.833 14.8545 95.7475 31.9105 84.5615 55.8995C73.3755 79.8885 55.2075 98.1455 31.5185 87.0065Z"
                                fill="#B476E5"
                        />
                    </svg>
                    <img
                            src="cdn/shop/t/2/assets/heart-icon.svg"
                            alt=""
                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
                    />
                </div>
                <h2 class="text-2xl font-bold leading-tight text-black line-clamp-1 dark:text-white md:text-[32px]">Make it your own</h2>
                <p class="line-clamp-3">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae.</p>
            </div>
            <div class="group space-y-5">
                <div class="relative top-0 transition-all duration-500 group-hover:-top-5">
                    <svg width="95" height="91" viewBox="0 0 95 91" fill="none" xmlns="http://www.w3.org/2000/svg" class="mx-auto">
                        <path
                                opacity="0.2"
                                d="M31.5185 87.0065C7.82954 75.8675 -6.70646 53.8285 4.33954 30.1415C15.3855 6.45452 54.3145 -7.12147 78.0735 3.86653C101.833 14.8545 95.7475 31.9105 84.5615 55.8995C73.3755 79.8885 55.2075 98.1455 31.5185 87.0065Z"
                                fill="#B476E5"
                        />
                    </svg>
                    <img
                            src="cdn/shop/t/2/assets/fire-icon.svg"
                            alt=""
                            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
                    />
                </div>
                <h2 class="text-2xl font-bold leading-tight text-black line-clamp-1 dark:text-white md:text-[32px]">
                    Fresh and affordable
                </h2>
                <p class="line-clamp-3">Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
            </div>
        </div>
    </div>
    <template>
  <div id="vue-component-placeholder">
    <fwb-card :product="product" />
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { FwbCard } from 'flowbite-vue';

const product = ref(null);

onMounted(async () => {
  // Fetch product data here
  const fetchedProduct = await fetchProductData(); // Implement this function
  product.value = fetchedProduct;
});
</script>

</section>
<template>
  <div id="vue-component-placeholder">
    <fwb-card :product="product" />
  </div>
</template>

<script setup>
import { ref, onMounted } from 'vue';
import { FwbCard } from 'flowbite-vue';

const product = ref(null);

onMounted(async () => {
  // Fetch product data here
  const fetchedProduct = await fetchProductData(); // Implement this function
  product.value = fetchedProduct;
});
</script>
